
{{> navigation}}


<section id="team" class="section-padding bg-gray">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-titleEquipo wow fadeInDown" data-wow-delay="0.3s">Nuestro Equipo</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">JESÚS PLUMA</a></h3>
                                <p>CEO del equipo de Poriun.</p>
                            </div>
                            <p>Soy una persona entusiasta por la tecnología, me encanta aprender y compartir el conocimiento.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">MARVIN ALVARENGA</a></h3>
                                <p>Vicepresidente</p>
                            </div>
                            <p>Lo mío es la física y matemática, estoy en función de los demás, como estilo de vida.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">Ana Palacios</a></h3>
                                <p>Asistente administrativo</p>
                            </div>
                            <p>Me encanta lograr las metas que me propongo, apasionada por la música y la tecnología.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">RODRIGO HERNÁNDEZ</a></h3>
                                <p>Asistente de Finanzas</p>
                            </div>
                            <p>Apasionado por la adrenalina. Enfocado en el aprendizaje en diferentes áreas de la ingeniería.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">LEWIN LOVO</a></h3>
                                <p>Director de Tecnología</p>
                            </div>
                            <p>Mi mayor deseo es poder servir al mundo con el desarrollo y uso de las tecnologías.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.4s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">KEVIN ELÍAS</a></h3>
                                <p>Asistente de Tecnología</p>
                            </div>
                            <p>Me baso en la razón y la lógica. Siempre dispuesto a dar ayudar a quien lo necesite.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.6s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">WILFREDO FIGUEROA</a></h3>
                                <p>Asistente de Tecnología</p>
                            </div>
                            <p>Apasionado por los videojuegos. Enfocado en el crecimiento personal y profesional.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInRight" data-wow-delay="0.8s">
                        <div class="team-img">
                            <img class="img-fluid" src=" img/team/User_Icon.png" alt="">
                        </div>
                        <div class="contetn">
                            <div class="info-text">
                                <h3><a href="#">NELSON VANEGAS</a></h3>
                                <p>Asistente de Tecnología</p>
                            </div>
                            <p>Interés por las nuevas tecnologías y los videojuegos. Quiero contribuir al mundo de la informática.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
            </div>
        </div>
    </section>
         
{{> footer}}