
    <section>
        <div id="home" class="header-hero">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-hero-content">
                            <h1 class="header-sub-title animate__animated animate__fadeInUp animate__delay-0-3s animate__animated.animate__speed_1-3s">
                                Poriun</h3>
                                <h2 class="header-title animate__animated animate__fadeInUp animate__delay-0-5s animate__animated.animate__speed_1-3s">
                                    Coin</h2>
                                <p class="text animate__animated animate__fadeInUp animate__delay-0-8s animate__animated.animate__speed_1-3s">
                                    Donde el trabajo y la diversi贸n se juntan.</p>
                                <a href="# " role="button" class="btn btn-outline-light animate__animated animate__fadeInUp animate__delay-1-1s animate__animated.animate__speed_1-3s" style="z-index: 1;">Descargar
                                    Wallet</a>
                                <a data-toggle="modal" data-target="#modalRegistro" role="button" class="btn btn-outline-light animate__animated animate__fadeInUp animate__delay-1-1s animate__animated.animate__speed_1-3s" style="z-index: 1;">Registrarse</a>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s">
                                    <img src="images/logo.png" alt="hero">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-hero-content animate__animated animate__bounce ">

                            <h2 class="h2Count ">PREVENTA</h2>

                            <div id="countdown">
                                <ul>
                                    <li><span id="days"></span>days</li>
                                    <li><span id="hours"></span>Hours</li>
                                    <li><span id="minutes"></span>Minutes</li>
                                    <li><span id="seconds"></span>Seconds</li>
                                </ul>
                            </div>
                            <div class="message">
                                <div id="content">
                                    <span class="emoji">コ</span>
                                    <span class="emoji"></span>
                                    <span class="emoji"></span>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>


                <div id="particles-js" class="particles"></div>
            </div>
    </section>
    <!-- Banner Fin -->

  
    <section id="cardsJS">

        <div class="transition" style="align-items: center;">
            <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 20px;">
                <div class="col mb-3">
                    <div class="card h-100">
                        <img src="images/seguridad-blanco.png" style="height: 50px; width: 50px;margin-top: 30px;" alt="block">
                        <div class="card-body">
                            <p class="card-text" style="color: rgb(37, 66, 136); text-align: left;">SEGURIDAD</p>
                            <p class="card-text" style="color: black; text-align: justify;">BPR implementar谩 un nuevo protocolo de privacidad (ZcashSapling) que proporcionar谩 mayor privacidad, rendimiento y facilidad de uso en comparaci贸n con nuestras soluciones anteriores.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="card h-100">
                        <img src="images/transaccion.png">
                        <div class="card-body">
                            <p class="card-text" style="color: rgb(37, 66, 136); text-align: left;">TRANSACCIONES RPIDAS</p>
                            <p class="card-text" style="color: black; text-align: justify;">En la red Bitcoin, las transacciones requieren 10 minutos para su confirmaci贸n. En cambio, en Poriun las transacciones se confirman en 60 segundos y mayormente son instant谩neas</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/retribucion.png">
                        <div class="card-body">
                            <p class="card-text" style="color: rgb(37, 66, 136); text-align: left;">RETRIBUCIN</p>
                            <p class="card-text" style="color: black; text-align: justify;">Recompensa entregada a los propietarios de BPR. Masternodes y BPR staking. Debido al gran tama帽o de nuestra red, nuestra tasa de devoluci贸n de recompensas es muy consistente y altamente fiable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Seccion de Informacion Poriun  Final -->

   
    <!--informacion-->
    <section style="background-color: rgb(37, 66, 136); ">
        <div class="container txtInfoColor imgInformacion">
            <div class="row justify-content-center" style="text-align: justify; padding: 50px; ">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>
                        <h2>Privado, Instantaneo y Seguro </h2>
                    </p>
                    <p style="text-align: justify; ">Poriun se basa en la tecnolog铆a Proof of Stake (PoS) y es una criptomoneda descentralizada basada en la cadena de bloques, de c贸digo abierto y con licencia del MIT, centrada en lograr la fungibilidad, la privacidad de las transacciones,
                        la gobernanza de la comunidad, la escalabilidad de la red y la utilizaci贸n en el mundo real para convertirse en una de las monedas digitales en l铆nea m谩s avanzadas y aceptadas a nivel mundial.</p>
                    <br>
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <i class="fa fa-windows fa-2x " style="color:#bbbbbf; "></i>
                            <a href="# " style="color: white; " title>Windows</a>
                        </div>
                        <div class="col">
                            <i class="fab fa-linux fa-2x" style="color:#bbbbbf; "></i>
                            <a href="# " style="color: white; " title>Linux</a>
                        </div>
                        <div class="col">
                            <i class="fa fa-apple fa-2x " style="color:#bbbbbf; "></i>
                            <a href="#" style="color: white; " title> Mac</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <br>
                    <img src="images/graph-1.png " class="imgInformacion " alt="Image " style="padding-left: 50px; ">
                </div>
            </div>
        </div>

        <!--<div class="col-6 ">
                    <div class="row ">
                        <img src="../views/images/graph-1.png " class="imgInformacion " alt="Image " style="padding-left: 50px; ">
                    </div>
                </div>-->
    </section>

    <!-- Seccion de circulos-->
    <section class="txtInfoColor">
        <div class="container">
            <div class="row-12" style="text-align: center;">
                <h2>Distribuci贸n de fichas</h2>
                <br>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="progress mx-auto" data-value='60'>
                        <span class="progress-left">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <span class="progress-right">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">60<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <br>
                    <p>Venta de fichas</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="progress mx-auto" data-value='20'>
                        <span class="progress-left">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <span class="progress-right">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">20<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <br>
                    <p>Reserva del proyecto</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="progress mx-auto" data-value='15'>
                        <span class="progress-left">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <span class="progress-right">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">15<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <br>
                    <p>Fichas de equipo</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="progress mx-auto" data-value='10'>
                        <span class="progress-left">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <span class="progress-right">
                                      <span class="progress-bar border-primary"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                            <div class="h2 font-weight-bold">10<sup class="small">%</sup></div>
                        </div>
                    </div>
                    <br>
                    <p>Asociaciones</p>
                </div>
            </div>
        </div>
    </section>





  
    <!--Timeline Inicio-->
    <div class="container-fluid blue-bg header-hero" style="padding-top: 100px;">
        <div class=".containerTimeline">
            <h2 style="text-align: center;">L铆nea de tiempo de Poriun</h2>
            <br>
            <!--first section-->
            <div class="row align-items-center how-it-works">
                <div class="col-2 text-center bottom">
                    <div class="circle">09 - 2019</div>
                </div>
                <div class="col-6">
                    <h5 style="font-size:x-large;">Idea</h5>
                    <p>Nace el deseo y la voluntad de crear una moneda digital transaccional</p>
                </div>
            </div>
            <!--path between 1-2-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>
            <!--second section-->
            <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-6 text-right">
                    <h5 style="font-size:x-large;">Proyecto escrito</h5>
                    <p>El proyecto est谩 listo para codificarse con el equipo contratado</p>
                </div>
                <div class="col-2 text-center full">
                    <div class="circle">05 - 2020</div>
                </div>
            </div>
            <!--path between 2-3-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner right-bottom"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner top-left"></div>
                </div>
            </div>
            <!--third section-->
            <div class="row align-items-center how-it-works">
                <div class="col-2 text-center bottom">
                    <div class="circle">07 - 2020</div>
                </div>
                <div class="col-6">
                    <h5 style="font-size:x-large;">Lanzamiento de Poriun Coin</h5>
                    <p>Poriun es creado en la unidad de g茅nesis, ya que la primera transacci贸n define las reglas y par谩metros de la moneda</p>
                </div>
            </div>

            <!--path between 3-4-->
            <div class="row timeline">
                <div class="col-2">
                    <div class="corner top-right"></div>
                </div>
                <div class="col-8">
                    <hr/>
                </div>
                <div class="col-2">
                    <div class="corner left-bottom"></div>
                </div>
            </div>
            <!--Fourth section-->
            <div class="row align-items-center justify-content-end how-it-works">
                <div class="col-6 text-right">
                    <h5 style="font-size:x-large;">Lanzamiento de Explorer y Billeteras</h5>
                    <p>Aparece el Explorador de Cadenas para realizar un seguimiento de las transacciones en el libro mayor, y se lanza la Billetera para PC v1.0 para almacenar y usar Poriun</p>
                </div>
                <div class="col-2 text-center full">
                    <div class="circle">08 - 2020</div>
                </div>
            </div>
        </div>
        <br>
    </div>
