/*#######################################################*/


/* Inicio Circulo */

.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}


/*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */

.rounded-lg {
    border-radius: 1rem;
}

.text-gray {
    color: #aaa;
}

div.h4 {
    line-height: 1rem;
}


/* Fin Ciruclo*/


/*##############################################################*/

#social_media a {
    font-size: 25px;
    color: white;
    padding-left: 0px;
    padding-right: 12px;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

*/
/*Seccion Login*/

.bodyLogin {
    height: min-content;
    margin: 0;
    color: #6a6f8c;
    background: #000428;
    background-attachment: fixed;
    justify-content: center;
    background-size: cover;
    /* fallback */
    background-image: linear-gradient(to bottom, rgba(2, 6, 46, 0.7) 0%, rgba(4, 17, 131, 0.555)70%, hsl(222, 57%, 34%)100%), url('../images/fondoLogin.png');
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
    display: block;
}

.aLogin {
    color: #fff;
    text-decoration: none;
}

.login-wrap {
    width: 100%;
    height: max-content;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-html {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background-attachment: fixed;
    justify-content: center;
    background-size: cover;
    background-image: url('../images/blockchain2.png');
    /* fallback */
    background-image: linear-gradient(to bottom, rgba(2, 6, 46, 0.7) 0%, rgba(4, 17, 131, 0.555)70%, hsl(222, 57%, 34%)100%), url('../images/blockchain2.png');
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
}

.login-form .group input[data-type="password"] {
    /* text-security: circle;*/
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: "";
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: #fff;
}

.login-form .group .check:checked+label .icon {
    background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
}

.hrLogin {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, 0.2);
}

.foot-lnkLogin {
    text-align: center;
}


/*Seccion Contactanos*/

.bodyContact {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.columna1Contact {
    padding-top: 3rem;
    margin: 0;
    text-align: justify;
    color: #ffffff;
    background-attachment: fixed;
    justify-content: center;
    background-size: cover;
    /* fallback */
    background-image: linear-gradient(to bottom, rgba(2, 6, 46, 0.7) 0%, rgba(4, 17, 131, 0.555)70%, hsl(222, 57%, 34%)100%), url('../images/fondoLogin.png');
}

.formContact {
    text-align: left;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
}

@media (min-width: 574px) {
    .form-control {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.btnContact {
    background: #1161ee;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin-top: 3rem;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, rgba(6, 20, 180, 0.815) 0%, hsl(221, 58%, 47%)100%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.columna2Contact {
    width: 100%;
    margin-top: 5rem;
    text-align: justify;
    color: rgba(255, 255, 255, 0.2);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.col2Container {
    margin-top: 50px;
}

.pCardContactTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.pCardContact {
    font-size: 1rem;
}

.aContactLink {
    padding-left: 0.5rem;
    font-size: 1rem;
    color: blue;
}


/*PARA SECCION "DESCARGAS"*/

.btnDescarga {
    display: auto;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: #fff 1px solid;
    background: linear-gradient(to bottom, hsla(234, 88%, 32%, 0.973), #004e92);
    cursor: pointer;
}


/* Inicio download */

.dwContainer {
    background: #0575E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to bottom, hsl(222, 90%, 16%)0%, rgba(4, 17, 131, 0.555)60%, rgb(37, 66, 136)100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dwContainer2 {
    background: #0575E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to bottom, hsl(222, 90%, 16%)0%, rgba(4, 17, 131, 0.918)40%, hsl(222, 57%, 34%)100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.estrellasDw {
    overflow: hidden;
    /*background-color: #ffffff;*/
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(37, 66, 136) 0%, rgba(4, 17, 131, 0.555)60%, hsl(222, 90%, 16%)100%), url('https://images.unsplash.com/photo-1518818419601-72c8673f5852?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}

.botonDownload {
    display: auto;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: #fff 3px solid;
    background: linear-gradient(to bottom, hsla(234, 88%, 32%, 0.973), #004e92);
    cursor: pointer;
}


/*Legal */

.bglegal {
    background-color: rgb(224, 232, 243);
}

.containerLegal {
    background-color: white;
    color: black;
    text-align: center;
}


/*.align-text-on-div {}*/

#privacidad_politica li {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    font-size: 15px;
    content: "•";
    color: black;
}

.dotpdot {
    counter-reset: foo;
}

.dotpdot li {
    list-style-type: none;
}

.dotpdot li::before {
    counter-increment: dotpdot;
    content: "1." counter(dotpdot) " ";
}


/*NUEVO CSS*/


/*Navbar*/

.cusBgNav {
    background-color: rgb(30, 64, 145);
}

.cusColorNavItems {
    color: white;
    font-family: "Questrial", sans-serif;
}

.cusBtnNav {
    background-color: white;
    color: rgb(30, 64, 145);
}


/*Banner*/

.cusDivBanner {
    width: 100%;
    height: max-content;
}

.cusImgBanner {
    width: 100%;
    height: max-content;
}


/*Parrafo informacion*/

.cusImgInformacion {
    max-width: 100%;
    max-height: 100%;
}

.cusDivInformacion {
    text-align: justify;
    padding: 100px;
}

.cusSectionInformacion {
    background-image: linear-gradient(rgb(30, 64, 145), white);
    opacity: 0.35;
}

.cusH1InfoTxt {
    font-family: "Questrial", sans-serif;
    text-align: center;
}

.cusH2InfoTxt {
    font-family: "Questrial", sans-serif;
}

.cusPargInfoTxt {
    text-align: Justify;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 20px;
}


/*Cards*/

.cusH4Cards {
    text-align: Center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}


/*genericos*/

.cusPargTxt {
    text-align: Justify;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.cusBodyColorBg {
    background-color: white;
}