    /*Footer*/
    
    footer {
        position: fixed;
        bottom: 0;
    }
    
    @media (max-height:800px) {
        footer {
            position: static;
        }
        header {
            padding-top: 40px;
        }
    }
    
    .footer-distributed {
        background-color: rgb(30, 64, 145);
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        font: bold 16px sans-serif;
        padding: 20px 50px 40px 30px;
        border-top: 1px solid #fff;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    /* Footer left */
    
    .footer-distributed .footer-left {
        padding-top: 25px;
        width: 30%;
    }
    
    .footer-distributed .h3Footer {
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 28px;
    }
    /* The company logo */
    
    .footer-distributed .footer-left .imgFooter {
        width: 50%;
    }
    /* Footer links */
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
    }
    /* Footer Center */
    
    .footer-distributed .footer-center {
        padding-top: 25px;
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        color: #ffffff;
        font-size: 25px;
        width: 80px;
        height: 38px;
        text-align: center;
        line-height: 50px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        padding-top: 10px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 30%;
        padding-left: 130px;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #fff;
        font-size: 15px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    /* Here is the code for Responsive Footer */
    /* You can remove below code if you don't want Footer to be responsive */
    
    @media (max-width: 880px) {
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    }