<footer class="footer-distributed">

        <div class="footer-left">
            <img class="imgFooter" src="images/logo-light2x.png">
            <p class="footer-company-name">2020 © Poriun Project</p>
        </div>
        <div class="footer-center">
            <div class="row">
                <div class="col-lg-5">

                    <a href="#">
                        <p>Política de Privacidad</p>
                    </a> <br>
                    <a href="#">
                        <p>Términos y Condiciones</p>
                    </a> <br>
                    <a>
                        <p>Descargo de responsabilidad</p>
                    </a>

                    <!-- <p><a href="mailto:hello@poriun.com">hello@poriun.com</a></p> -->
                </div>
                <div class="col-lg-4">

                    <a href="#">
                        <p>Equipo</p>
                    </a> <br>
                    <a href="#">
                        <p>White Paper</p>
                    </a> <br>
                    <a>
                        <p>Preguntas Frecuentes</p>
                    </a>

                    <!-- <p><a href="mailto:hello@poriun.com">hello@poriun.com</a></p> -->
                </div>
                <div class="col-lg-3">

                    <a href="#">
                        <p>Masternode</p>
                    </a> <br>
                    <a href="#">
                        <p>Poriun Wiki</p>
                    </a> <br>
                    <a>
                        <p>CoinMarketCap</p>
                    </a>

                    <!-- <p><a href="mailto:hello@poriun.com">hello@poriun.com</a></p> -->
                </div>
            </div>
        </div>
        <div class="footer-right">

            <div class="footer-icons">
                <a href="https://www.facebook.com/poriuncoin"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/poriuncoin"><i class="fa fa-twitter"></i></a>
                <a href="https://t.me/poriun"><i class="fa fa-telegram"></i></a>
                <a href="https://github.com/poriun"><i class="fa fa-github"></i></a>
                <a href="https://forum.poriun.com"><i class="fa fa-bitcoin"></i></a>
                <a href="mailto:hello@poriun.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </footer>
    