<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boostrap CSS -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!--Fuentes-->
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!--Fuente Iconos redes sociales footer-->
    <script src="https://kit.fontawesome.com/a92aa7e719.js" crossorigin="anonymous"></script>

    <!--Propios CSS-->
    <link rel="stylesheet" href="css/pstyle.css">

    <!--JS Composer -->
    <link rel="stylesheet" href="./css/js_composer.min.css">
    <!--ETL-->
    <link rel="stylesheet" href="./css/etl.min.css">
    <!--mpc-->
    <link rel="stylesheet" href="./css/mpc-styles.css">
    <!-- Lib Animations -->

    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/aos.css">

    <!-- Icons -->
    <link rel="stylesheet" href="css/fontello.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css" type="text/css">

    <!--CSS de Owl Carousel-->
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css" type="text/css">

    <!--MDBootstrap-->
    <link rel="stylesheet" href="css/mdb.min.css" type="text/css">


    <title>{{ title }}</title>
</head>

<body id="" data-spy="scroll" data-target="#navbarPagina" data-offset="57">