<nav class="navbar navbar-expand-lg cusBgNav navbar-dark ">
    <div class="container-fluid ">
        <a class="navbar-brand cusColorNavItems" href="#">Poriun</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active cusColorNavItems" aria-current="page" href="#">Incio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cusColorNavItems" href="/download">Descarga</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cusColorNavItems" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Comunidad Poriun</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/about">Sobre Nosotros</a></li>
                        <li><a class="dropdown-item" href="/staff">Nuestro equipo</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/files/white-paper-ES.pdf">White Paper</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cusColorNavItems" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Acerca de</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/">Funciones y especificaciones</a></li>
                        <li><a class="dropdown-item" href="/">Preguntas Frecuentes</a></li>
                        <li><a class="dropdown-item" href="/">Estado de Airdrop</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle cusColorNavItems" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Legal</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/terms-and-condition">Terminos y Condiciones</a></li>
                        <li><a class="dropdown-item" href="/privacy-policy">Politica de Privacidad</a></li>
                        <li><a class="dropdown-item" href="/disclaimer">Descargo de Responsabilidad</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link cusColorNavItems" href="/contact">Contactanos</a></li>
            </ul>
          <form class="d-flex cusBtnNav">
            <button class="btn" type="submit" href="/login">Obtener BPR</button>
          </form>
        </div>
    </div>
</nav>