{{> navigation }}
    <div class="bodyContact">  
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 columna1Contact">
                         <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s">
                                    <img src="images/logo.png" alt="hero">
                                </div>
                            </div>
                        <div class="row">                 
                            <div >
                                <p style="margin: 3rem;">Al enviar su consulta, usted acepta nuestras condiciones de uso y política de privacidad, y acepta que su información sea transferida a nuestro proveedor de servicios de correo electrónico para su procesamiento de acuerdo con su política de privacidad y política de cookies.</p>
                            </div>
                        </div>
                        <form class="formContact" action="/contact" method="POST">
                            <p>Nombre</p>
                            <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                             <p style="padding-top: 1rem;">Correo electrónico</p>
                            <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                            <p style="padding-top: 1rem;">Mensaje</p>
                             <textarea class="form-control" placeholder="Háblanos..." id="floatingTextarea2" style="height: 100%; width:100%"></textarea>
                            <input type="submit" class="btnContact" value="Registrarse">
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-hero-content animate__animated animate__bounce ">

                            <h2 class="h2Count ">PREVENTA</h2>

                            <div id="countdown">
                                <ul>
                                    <li><span id="days"></span>days</li>
                                    <li><span id="hours"></span>Hours</li>
                                    <li><span id="minutes"></span>Minutes</li>
                                    <li><span id="seconds"></span>Seconds</li>
                                </ul>
                            </div>
                            <div class="message">
                                <div id="content">
                                    <span class="emoji">🥳</span>
                                    <span class="emoji">🎉</span>
                                    <span class="emoji">🎂</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>



{{> footer }}