<!--<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="p-1">
                            <input type="text" name="title" class="form-control" id="" placeholder="Title" autofocus >
                        </div>
                        <div class="p-1">
                            <input type="url" name="url" placeholder="URL" class="form-control">
                        </div>
                        <div class="p-1">
                            <textarea name="description" class="form-control" id="" cols="2" rows="4" placeholder="Description"></textarea>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-success w-100">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{{> navigation }}
<form class="bodyLogin animate__animated animate__flipInY">
    <div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Acceder</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Usuario</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Contraseña</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <input id="check" type="checkbox" class="check" checked>
          <label for="check"><span class="icon"></span> Mantenerme conectado</label>
        </div>
        <div class="group">
          <input type="submit" class="button" value="Acceder">
        </div>
        <div class="hrLogin"></div>
        <div class="foot-lnkLogin">
          <a class="aLogin" href="#forgot">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
      <div class="sign-up-htm">
        <div class="group">
          <label for="user" class="label">Usuario</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Contraseña</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Repita contraseña</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Correo electrónico</label>
          <input id="pass" type="text" class="input">
        </div>
        <div class="group">
          <input type="submit" class="button" value="Registrarse">
        </div>
      </div>
    </div>
  </div>
</div>

</form>
