{{> navigation }}

<section style="Background-color:rgb(37, 66, 136)">
    <div class="container">
        <div class="row" style="color: white; padding-top: 50px">
            <h2>About</h2>
        </div>
    </div>
</section>
<section>
    <div class="container" style="color: black; text-align: justify;">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12"style="margin: auto;">
                <h2>
                    Poriun es la prueba de participación de la criptomoneda 3.0.
                    Basada en la versión 0.10 o superior del código base de Bitcoin
                </h2>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"style="margin: auto;">
                <img src="images\mockupWalletPoriunCompressed.png" width="100%" height="max-content">
            </div>
        </div>
    </div>
</section>
<section>
   <div class="container" style="color:black; text-align: justify;">
        <div class="row justify-content center">
            <div class="col-lg-6 col-md-12 col-sm-12"style="margin: auto;">
                <h2>Somos un equipo.</h2>
                <p>
                    La BPR es un sí, una tecnología, pero también es mucho más que trozos de código y elaborados algoritmos. 
                    Es una comunidad. Es una red de individuos que crece orgánicamente y que reúne un conjunto de principios 
                    básicos, creencias, visiones e ideas, colaborando juntos para desarrollar PORIUN.
                </p>
                <p>
                    Al fin y al cabo, somos un colectivo de seres humanos que se reúnen y aportan sus distintas energías, recursos, 
                    talentos y visiones. Algunos de nosotros somos fenomenales codificadores. Otros son expertos gestores de proyectos.
                    Algunos son nuevos en el mundo de las criptomonedas, mientras que otros han estado en el mundo de las criptomonedas 
                    desde los albores del bitcoin (incluida la persona involucrada en la histórica transacción de la "bitcoin pizza"). 
                </p>
                <p>
                    Dicho esto, hay algunas personas que estuvieron en el núcleo del proyecto y, a partir de ahí, la comunidad 
                    creció rápidamente. Como recordatorio, a menudo en los ámbitos de la tecnología y la criptografía, las personas 
                    son conocidas por sus "alias" (piense en apodos) más que por sus propios nombres.
                </p>
        </div>
            <div class="col-lg-6 col-md-8 col-sm-12" height="max-content" style="margin: auto;">
                <iframe width="100%" height="315"  src="https://www.youtube.com/embed/SSo_EIwHSd4?html5=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div> 
</section>
<br>
<section>
    <div class="container" style="color: black;">
        <div class="row-12" style="text-align: center;">
            <h3>Declaración de monedas de Poriun</h3>
        </div>
        <hr>
        <div class="row-12" style="text-align: justify;">
            <p>La <span style="color: rgb(37, 66, 136)"><b>PRIVACIDAD</b></span> no es negociable, es un derecho humano básico.
            La <span style="color: rgb(37, 66, 136)"><b>LIBERTAD</b></span> lo es todo.
            La <span style="color: rgb(37, 66, 136)"><b>TECNOLOGÍA</b></span> avanza, la <span style="color: rgb(37, 66, 136)"><b>GOBERNANZA</b></span> también debe hacerlo.
            La privacidad permite la libertad de compartir lo que desees con <span style="color: rgb(37, 66, 136)"><b>TODOS</b></span>, pero también la libertad de <span style="color: rgb(37, 66, 136)"><b>RESTRINGIR</b></span> quién ve tu información.
            Creemos que esto es la elección de cada persona.
            La <span style="color: rgb(37, 66, 136)"><b>GOBERNANZA</b></span> se utiliza para promover los objetivos y el desarrollo de los fondos.
            Los <span style="color: rgb(37, 66, 136)"><b>DAOs</b></span> son intocables.
            Únete a nosotros <span style="color: rgb(37, 66, 136)"><b>CUANDO</b></span> quieras, <span style="color: rgb(37, 66, 136)"><b>PORQUE</b></span> quieras, y, por <span style="color: rgb(37, 66, 136)"><b>EL TIEMPO</b></span> que quieras.
            Exploremos <span style="color: rgb(37, 66, 136)"><b>TODAS</b></span> las opciones <span style="color: rgb(37, 66, 136)"><b>JUNTOS</b></span>.
            Tú eres <span style="color: rgb(37, 66, 136)"><b>IMPORTANTE</b></span> para <span style="color: rgb(37, 66, 136)"><b>NOSOTROS</b></span>, es hora de que aprovechemos todo tu potencial.</p>
        </div>
    </div>
</section>
<br>
<section>
    <div class="container" style="color: black;">
        <div class="row-12">
            <h3>Cómo poner en marcha la <b>BPR</b></h3>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: justify;">
                <p>
                    El BPR puede ser apostado en caliente simplemente instalando el monedero principal de escritorio, depositando las monedas en el monedero
                    y desbloqueando el monedero en el modo de sólo apostar. Las monedas depositadas comenzarán a apostar después de haber obtenido 600 
                    confirmaciones. Con el staking en host, el monedero con las monedas debe mantenerse en línea y funcionando para que el staking funcione.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12"style="text-align: justify;">
                <p>
                    BPR puede ser apostado en frío instalando el monedero principal de escritorio, depositando monedas en el monedero, y delegando la apuesta de 
                    esas monedas desde la pestaña de apuesta en frío a una dirección de apuesta en frío. Esa dirección puede ser tu propio monedero de cold staking,
                    o el de un proveedor de servicios de cold staking de terceros. Una vez delegado, el monedero que contiene las monedas puede mantenerse fuera de línea,
                    mientras sigue recibiendo recompensas a la dirección de su monedero fuera de línea.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row-12" style="color: black; margin:40px">
            <h3>¿Necesitas ayuda?</h1>
            <h5><span style="color: rgb(59, 143, 253)">hello@poriun.com</span></h5>
        </div>
    </div>
</section>



{{> footer-new }}