{{> navigation }}
    <div class="bodyContact">  
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 columna1Contact">
                         <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s">
                                    <img src="images/logo.png" alt="hero">
                                </div>
                            </div>
                        <div class="row">                 
                            <div >
                                <p style="margin: 3rem;">Al enviar su consulta, usted acepta nuestras condiciones de uso y política de privacidad, y acepta que su información sea transferida a nuestro proveedor de servicios de correo electrónico para su procesamiento de acuerdo con su política de privacidad y política de cookies.</p>
                            </div>
                        </div>
                        <form class="formContact" action="/contact" method="POST">
                            <p>Nombre</p>
                            <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                             <p style="padding-top: 1rem;">Correo Electrónico</p>
                            <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                            <p style="padding-top: 1rem;">Mensaje</p>
                             <textarea class="form-control" placeholder="Háblanos..." id="floatingTextarea2" style="height: 100%; width:100%"></textarea>
                            <input type="submit" class="btnContact" value="Enviar">
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 columna2Contact" style="overflow: hidden;">
                        <div class="col2Container animate__animated animate__bounce ">

                            <div class="card h-100" >
                        
                        <div class="card-body">
                            <p class="pCardContactTitle" style="color: rgb(37, 66, 136); text-align: left;">Redes Sociales</p>
                            <p class="pCardContact" style="color: black; text-align: justify;">Manténte siempre al día sobre la evolución del proyecto, síguenos en:</p>
                            <br>
                            <i class="fa fa-facebook" style="width: 20px; color: #3b5998;"></i>
                            <span style="color: #3b5998;">
                                <a class="aContactLink" style="font-weight: bold;" href="#">Perfil Facebook</a>
                            </span>
                            <br>
                            <br>
                            <i class="fa fa-twitter" style="width: 20px; color: #00aced;"></i>
                            <span style="color: #3b5998;">
                                <a class="aContactLink" style="font-weight: bold; color:#00aced" href="#">Cuenta Twitter</a>
                            </span>
                            <br>
                            <br>
                            <br>
                            <p class="pCardContactTitle" style="color: rgb(37, 66, 136); text-align: left;">Negocios y Asociaciones</p>
                            <p class="pCardContact" style="color: black; text-align: justify;">Para contactar con empresas y asociaciones, envíe un correo a:</p>
                            <p class="pCardContact" style="color:#00aced; text-align: justify; font-weight:bold">hello@poriun.com</p>
                        </div>
                    </div>
                        </div>
                    </div>
            </div>
    </div>



{{> footer }}