
{{> navigation}}

<section class="bglegal" id="privacidad_politica">
    <div class="row-12" style="text-align: center">
        <br>
        <h1><b><strong>Descargo de Responsabilidad</strong></b></h1>
        <br>
    </div>
    <div class="container containerLegal">
        <div style="text-align: justify">

        </div>
    </div>
</section>

{{> footer-new }}