{{> navigation }}

<section class="estrellasDw">
    <div class="container" style="padding-top: 100px;">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12"style="margin: auto;">
                <p>¡Inicia el viaje con Poriun!</p>
                <h1><b>Descarga Poriun para PC</b></h1>
                <p>Gestiona, guarda e invierte con nuestra App</p>
                <a class="btn botonDownload" style="border-radius: 5px;" href="#" role="button">Descargar</a>
                <img src="images/mockupWalletPoriunCompressed.png" width="100%" height="max-content">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"style="margin: auto;">
                <p>¡No te quede atras! Poriun esta en tu celular</p>
                <h1><b>Descarga Poriun para tu Celular</b></h1>
                <p>Y lleva Poriun contigo a cualquier lado</p>
                <a class="btn botonDownload" style="border-radius: 5px;" href="#" role="button">Descarga en Android</a>
                <a class="btn botonDownload" style="border-radius: 5px;" href="#" role="button">Descargar en iOS</a>
                <img src="images/mockupWalletPoriunPhoneCompressed.png" width="100%" height="max-content" style="padding-top: 100px;">
            </div>
        </div>
    </div>
</section>


 <!--video explicativo-->
<section class="dwContainer">
    <div class="container" style="color: white; text-align: justify; padding-top: 40px; padding-bottom: 40px;">
        <div class="row justify-content center">
            <div class="col-lg-6 col-md-12 col-sm-12"style="margin: auto;">
                <h2>Tu cartera de Poriun en tu ordenador!</h2>
                <br>
                <p>
                    ¡Inicia el viaje descargando nuestra App! <br>
                    Bienvenido al fascinante mundo de Poriun, este video se encargara de guiarte paso a paso para lograr descargar
                    nuestra app e instalarla. Tambien inluye un pequeño tour por las diversas funciones de la app, con el fin de acomodar y familiarizar
                    con esto nuevo entorno, todo esto para que puedas empezar a usar tu cartera sin ningun tipo de problemas lo antes posible.
                </p>
        </div>
            <div class="col-lg-6 col-md-8 col-sm-12" height="max-content" style="margin: auto;">
                <iframe width="100%" height="315"  src="https://www.youtube.com/embed/JedpuU8p6aw?html5=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <br>
    </div>
</section>
<br>
    


    <!--caracteristicas-->
<section style="background-color: white; color: black;" >
    <div class="container" style="color: black;">
        <br>
        <div class="row" style="text-align: justify;">
            <div class="col-lg-3 col-md-3 col-sm-12" style="margin: auto;">
                <div style="text-align: center;">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <p><b>Envia Poriun</b></p>
                </div>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"style="margin: auto;">
                <div style="text-align: center;">
                    <i class="fa fa-get-pocket" aria-hidden="true"></i>
                    <p><b>Recibe Poriun</b></p>
                </div>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"style="margin: auto;">
                <div style="text-align: center;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <p><b>Crea un masternode</b></p>
                </div>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"style="margin: auto;">
                <div style="text-align: center;">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <p><b>Guarda tus Coins</b></p>
                </div>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
            </div>
        </div>
        <br>
    </div>
</section>
<br>

{{> footer-new }}