{{> navigation }}
  <!-- Descarga Section Start-->
    <section id="descarga" class="section-padding-descarga bg-gray">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-titleDescargas wow fadeInDown" data-wow-delay="0.3s">Descarga Poriun para PC</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 info">
                    <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                        <div>
                            <div class="site-heading">
                                <p class="mb-3 pDescargas">¡Inicia el viaje con Poriun!</p>
                                <h2 class="section-title">Gestiona, guarda e invierte</h2>
                            </div>
                            <br>
                            <div class="content">
                                <p style="text-align:justify;">
                                    Aqui un parrafo de porque se deben descargar la wallet bien explicadito, donde abarque absolutamente todo plis si no nel >:v
                                </p>
                                <!-- <a href="https://github.com/poriun/PoriunCoin" class="btn btn-common mt-3">Descargar</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                    <img class="img-fluid" src="https://i.ibb.co/pwd1Gbd/mockup-Wallet-Poriun-Compressed.png" alt="">
                    <br>
                </div>
            </div>
        </div>
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">*Proximamente, en iOS y Android</h2>

        </div>
    </section>
    <!-- Descarga Section End-->

    <!-- Pricing section Start -->
    <section id="acerca" class="section-padding">
        <div class="container">
            <div class="section-header text-center">

                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">¿Necesitas ayuda?</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
                <p class="mb-3" style="text-align: center;">Mira nuestras guías de instalación de la billetera de Poriun en Windows, MacOS o Linux</p>
            </div>
            <!-- Tabs -->
            <section id="tabs" class="sectionT">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Windows</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">MacOS</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Linux</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <br>
                                            <p style="text-align: justify;">Puedes obtener la billetera de Poriun para tu equipo Windows, ¡sin ningún problema! </p>
                                            <br>
                                            <p style="text-align: justify;">Sigue el tutorial que te presentamos, para que puedas comenzar a usar Poriun desde tu equipo informático!</p>

                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <br>
                                            <iframe width="90%" height="260" src="https://www.youtube.com/embed/JedpuU8p6aw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <br>
                                    <a href="Descarga.html" class="btn btn-common">Descargar</i></a>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <br>
                                            <p style="text-align: justify;">Puedes obtener la billetera de Poriun para tu equipo MacOS, ¡sin ningún problema! </p>
                                            <br>
                                            <p style="text-align: justify;">Sigue el tutorial que te presentamos, para que puedas comenzar a usar Poriun desde tu equipo informático!</p>

                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <br>
                                            <iframe width="90%" height="260" src="https://www.youtube.com/embed/SSo_EIwHSd4?html5=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <br>
                                    <a href="Descarga.html" class="btn btn-common">Descargar</i></a>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <br>
                                            <p style="text-align: justify;">Puedes obtener la billetera de Poriun para tu equipo Linux, ¡sin ningún problema! </p>
                                            <br>
                                            <p style="text-align: justify;">Sigue el tutorial que te presentamos, para que puedas comenzar a usar Poriun desde tu equipo informático!</p>

                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <br>
                                            <iframe width="90%" height="260" src="https://www.youtube.com/embed/SSo_EIwHSd4?html5=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <br>
                                    <a href="Descarga.html" class="btn btn-common">Descargar</i></a>
                                    <br>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- ./Tabs -->
        </div>
    </section>
    <!-- Tabs Section End -->

{{> footer }}