{{> navigation }}
<!-- Descarga Section Start-->
    <section class="section-padding bg-white">
        <div class="container">
            <div class="section-header text-center">
                <br>
                <br>
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Preguntas frecuentes</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 info">
                    <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="container dotpdot">
                            <div style="text-align: justify">
                                <br>
                                <p style="color: #1d4091; font-size: 20px;font-family: Roboto, sans-serif ;font-weight: 600;">Preguntas Generales</p>
                                <br>
                                <button type="button" class="collapsible">¿Qué es Poriun Coin?</button>
                                <div class="content2">
                                    <p>Poriun Coin es una forma de dinero digital en línea que utiliza la tecnología blockchain y que puede ser fácilmente transferida a nivel mundial, al instante, y con tasas casi nulas. Poriun incorpora privacidad de seguridad
                                        líder en el mercado y también es la primera criptomoneda PoS (Proof of Stake).
                                    </p>
                                    <p>Poriun Coin utiliza un algoritmo de sistema de consenso Proof of Stake (PoS), lo que permite a todos los propietarios de Poriun Coin participar en la obtención de recompensas en bloque mientras se asegura la red con
                                        carteras de nodo completas, así como ejecutar Masternodes para crear y votar propuestas.</p>
                                </div>
                                <button type="button" class="collapsible">¿Por qué no se puedo gastar mi BPR?</button>
                                <div class="content2">
                                    <p>El BPR recién recibido requiere 6 confirmaciones en la red para poder gastarlo, lo que puede tardar unos 6 minutos. Su monedero BPR también debe estar completamente sincronizado para ver y gastar los saldos en la red.
                                    </p>
                                </div>
                                <button type="button" class="collapsible">¿Cómo poner en marcha la BPR?</button>
                                <div class="content2">
                                    <ul>
                                        <li>Asegúrese de que su cartera está completamente sincronizada y de que está utilizando la última versión.</li>
                                        <li>Debes tener un saldo de BPR con un mínimo de 60 confirmaciones.</li>
                                        <li>Su monedero debe permanecer en línea y estar desbloqueado para fines de staking.</li>
                                        <li>Una vez que todos estos pasos son seguidos, el staking debería estar habilitado.</li>
                                    </ul>
                                    <br>
                                    <p>Puedes ver el estado del staking en el monedero pasando el ratón por encima del icono del paquete en la fila de la parte superior izquierda de la interfaz del monedero. El paquete se iluminará y dirá "Staking Enabled"
                                        para indicar que está haciendo staking. Utilizando la interfaz de línea de comandos (poriun-cli); el comando getstakingstatus confirmará que el staking está activo.</p>
                                </div>
                                <button type="button" class="collapsible">¿Dónde debo acudir si necesito apoyo?</button>
                                <div class="content2">
                                    <p>Tenemos canales de soporte en la mayoría de nuestros grupos de chat oficiales, por ejemplo Soporte en nuestro Telegram, Si prefieres enviar un ticket, puedes hacerlo en nuestro sitio de soporte Freshdesk.</p>
                                </div>
                                <br>
                                <br>
                                <br>
                                <p style="color: #1d4091; font-size: 20px;font-family: Roboto, sans-serif ;font-weight: 600;">¿Cómo comprar?</p>
                                <br>
                                <button type="button" class="collapsible">¿Cuál es el mejor lugar para conseguir BPR?</button>
                                <div class="content2">
                                    <p>Poriun está en periodo de preventa, puedes comprar desde nuestra plataforma.</p>
                                </div>
                                <button type="button" class="collapsible">¿Qué método de pago utilza?</button>
                                <div class="content2">
                                    <p>We are currently accepting bitcoins, Ethereum, Dash, Litecoin, Tether and also bank transfers.</p>
                                </div>
                                <button type="button" class="collapsible">¿Puedo comprar en mi país?</button>
                                <div class="content2">
                                    <p>La criptomoneda es global, ¡no importa dónde estés, puedes comprar!</p>
                                </div>
                                <button type="button" class="collapsible">¿Cómo minar BPR?</button>
                                <div class="content2">
                                    <p>Al contrario que bitcoin, que es Proof Of Work (POW), Poriun Coin es Proof Of Stake (POS). En lugar de utilizar una gran cantidad de potencia de la CPU para crear nuevas monedas, el nuevo BPR se crea al tenerlo y apostarlo.
                                        Se puede comparar con recibir intereses en su cuenta de ahorros.</p>
                                </div>
                                <br>
                                <br>
                                <br>
                                <p style="color: #1d4091; font-size: 20px;font-family: Roboto, sans-serif ;font-weight: 600;">Masternode</p>
                                <br>
                                <button type="button" class="collapsible">¿Qué es un Masternode?</button>
                                <div class="content2">
                                    <p>Un masternode es un ordenador que ejecuta un nodo completo del monedero central de Poriun Coin con un requisito de 10.000 BPR garantizados para proporcionar servicios adicionales a la red y, a cambio, recibir una parte
                                        de la recompensa de los bloques regularmente. Estos servicios incluyen:</p>
                                    <ul>
                                        <li>Transacciones instantáneas (SwiftX)</li>
                                        <li>Una gobernanza descentralizada (Proposal Voting)</li>
                                        <li>Un sistema presupuestario descentralizado (Tesorería)</li>
                                        <li>Validación de las transacciones dentro de cada bloque</li>
                                        <li>Actuar como un nodo completo adicional en la red</li>\
                                    </ul>
                                    <br>
                                    <p style="color: #1d4091;">
                                        <b>Por la prestación de estos servicios, los masternodes también reciben una parte de la recompensa por cada bloque. Esto puede servir como un ingreso pasivo para los propietarios de masternodes menos su coste de funcionamiento.</b>
                                    </p>
                                    <br>
                                    <p style="color: #1d4091;">
                                        <b>Ventajas del Masternode:</b>
                                        <ul>
                                            <li>Participa en el gobierno de Poriun Coin</li>
                                            <li>Ganar recompensas de Masternode</li>
                                            <li>Opción de compra de materias primas para su futura venta</li>
                                            <li>Ayude a asegurar la red de Poriun Coin</li>
                                        </ul>
                                    </p>
                                    <br>
                                    <p style="color: #1d4091;">
                                        <b>Por la prestación de estos servicios, los masternodes también reciben una parte de la recompensa por cada bloque. Esto puede servir como un ingreso pasivo para los propietarios de masternodes menos su coste de funcionamiento.</b>
                                    </p>
                                    <br>
                                    <p style="color: #1d4091;">
                                        <b>Requisitos:</b>
                                        <ul>
                                            <li>10.000 BPR por cada instancia de Masternode</li>
                                            <li>Debe almacenarse en un monedero central</li>
                                            <li>Necesita una dirección IP dedicada</li>
                                            <li>El monedero de Masternode debe permanecer en línea</li>
                                        </ul>
                                    </p>
                                </div>
                                <button type="button" class="collapsible">¿Qué es un controlador de Masternode?</button>
                                <div class="content2">
                                    <p>Un monedero del Controlador del Masternode es donde los 10.000 BPR colaterales pueden residir durante una configuración del Controlador-Remoto del masternode. Es una cartera que puede activar la(s) cartera(s) del masternode
                                        remoto y le permite mantener sus monedas colaterales fuera de línea mientras el masternode remoto permanece en línea.</p>
                                </div>
                                <button type="button" class="collapsible">¿Qué puerto utiliza el masternode de Poriun Coin?</button>
                                <div class="content2">
                                    <p>Poriun Coin utiliza el puerto 51470. Asegúrate de que tu cortafuegos sólo acepta ese puerto. Si utilizas SSH, asegúrate de que sólo tu dirección IP pueda conectarse al servidor.</p>
                                </div>
                                <button type="button" class="collapsible">¿Cómo configurar un masternode?</button>
                                <div class="content2">
                                    <p>Sigue los pasos aquí. Es para configurar dos masternodes, pero también puedes usarlo para configurar uno. También hay un gran video aquí.</p>
                                </div>
                                <br>
                                <br>
                                <br>
                                <p style="color: #1d4091; font-size: 20px;font-family: Roboto, sans-serif ;font-weight: 600;">Staking</p>
                                <br>
                                <button type="button" class="collapsible">¿Qué es Staking?</button>
                                <div class="content2">
                                    <p>Puedes comparar el staking con la minería de bitcoins, pero en lugar de usar la potencia de la cpu, usas tu BPR para ganar intereses. Cuanto más BPR tengas, más a menudo ganarás un 'stake'.</p>
                                </div>
                                <button type="button" class="collapsible">¿Cuánto se gana con las apuestas?</button>
                                <div class="content2">
                                    <p>Depende. En el momento de escribir este artículo, recibes aproximadamente 1 apuesta cada 7 días si tienes 1.000 BPR en tu cartera, y 1 apuesta cada 1-2 días si tienes 10.000 BPR en tu cartera. Las ganancias de las apuestas
                                        se muestran en este sitio.</p>
                                </div>
                                <button type="button" class="collapsible">¿Cómo empezar a apostar?</button>
                                <div class="content2">
                                    <p>Si tienes una cantidad considerable de BPR, deberías apostar. Es seguro y obtienes BPR gratis. Sólo tienes que hacer funcionar tu ordenador/servidor durante 24 horas al día (puede estar desconectado unos 50 minutos
                                        al día para actualizaciones/reinicios). Las apuestas están activadas por defecto.</p>
                                </div>
                                <button type="button" class="collapsible">¿Tengo que reiniciar mi monedero después de añadir Poriun Coin?</button>
                                <div class="content2">
                                    <p>No, no es necesario, después de 101 confirmaciones se añadirá a su importe de apuesta.</p>
                                </div>
                                <script>
                                    var coll = document.getElementsByClassName("collapsible");
                                    var i;

                                    for (i = 0; i < coll.length; i++) {
                                        coll[i].addEventListener("click", function() {
                                            this.classList.toggle("active");
                                            var content = this.nextElementSibling;
                                            if (content.style.display === "block") {
                                                content.style.display = "none";
                                            } else {
                                                content.style.display = "block";
                                            }
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h2 style="text-align: center;">¿Tienes mas preguntas?</h2>
            <br>
            <p style="text-align: center;">Tanto si tiene una pregunta, como si necesita ayuda o simplemente quiere hablar, queremos saber de usted.</p>
            <div class="row" style="text-align: center; margin-left: 41%; margin-right: 40;">
                <div class="header-button">
                    <a href="#" class="btn btn-common mt-3">Contactar soporte</i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Descarga Section End-->
    {{> footer }}