{{> navigation }}

<!--Banner inicio-->
  <section>
    <div class="container-movimiento">
      <div class="container">
        <h5 class="logoText">Poriun</h5>
      </div>
    </div>
  </section> 

  {{!-- <section>
    <div class="cusDivBanner">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.ibb.co/vmgDXxS/bg5.jpg" class="d-block w-100" class="cusImgBanner" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Preventa</h5>
              <h1>11 08 09 12</h1>
              <p>Dias horas minutos segundos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> --}}
  <section class="cusSectionInformacion">
    <br>
    <br>
  </section>

  <section>
    <div class="container cusImgInformacion">
      <div class="row justify-content-center" style="text-align: justify; padding: 50px; ">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p>
          <h2 class="cusH2InfoTxt">Privado, Instantaneo y Seguro </h2>
          </p>
          <p class="cusPargInfoTxt">Poriun se basa en la tecnología Proof of Stake (PoS) y es una criptomoneda descentralizada basada en la cadena de bloques, de código abierto y con licencia del MIT, centrada en lograr la fungibilidad, la privacidad de las transacciones,
            la gobernanza de la comunidad, la escalabilidad de la red y la utilización en el mundo real para convertirse en una de las monedas digitales en línea más avanzadas y aceptadas a nivel mundial.</p>
          <br>
          <div class="row" style="text-align: center;">
            <div class="col">
                <i class="fa fa-windows fa-2x " style="color:#bbbbbf; "></i>
                <a href="# " style="color: black; " title>Windows</a>
            </div>
            <div class="col">
                <i class="fab fa-linux fa-2x" style="color:#bbbbbf; "></i>
                <a href="# " style="color: black; " title>Linux</a>
            </div>
            <div class="col">
                <i class="fa fa-apple fa-2x " style="color:#bbbbbf; "></i>
                <a href="#" style="color: black; " title> Mac</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <br>
          <img src="https://poriun.com/wp-content/uploads/2018/06/graph-1.png" class="cusImgInformacion " alt="Image " style="padding-left: 50px; ">
        </div>
      </div>
    </div>
  </section>

<!-- Mas info-->
  <section>
    <div class="container cusImgInformacion">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 class="cusH1InfoTxt">¿Qué hace especial a Poriun?</h1>
          <br>
        </div>
      </div>
    </div>
  </section>

  <!-- cards -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="cusH4Cards">SwiftX</h4>
          <p class="cusPargInfoTxt">Las transacciones SwiftX se confirman y se pueden gastar en cuestión de segundos. Las transacciones SwiftX están garantizadas por la red de masternodes, sin necesidad de esperar a múltiples confirmaciones para confiar en la validez de la transacción.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="cusH4Cards">Masternodes</h4>
          <p class="cusPargInfoTxt">Se trata de nodos incentivados que reciben recompensas en función de su disponibilidad y su capacidad para ofrecer servicios de red de forma descentralizada y sin confianza. La gestión de un masternode requiere 10.000 BPR de garantía durante el tiempo que se decida gestionar el masternode y permite al propietario votar sobre el presupuesto y las propuestas de desarrollo</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="cusH4Cards">Código base</h4>
          <p class="cusPargInfoTxt">La estructura PoS utilizada elimina la edad de las monedas, lo que significa que para sacar el máximo provecho de su apuesta debe mantener su cartera abierta en todo momento, lo que resulta en más nodos constantemente disponibles, fortaleciendo la red. Se acabaron los usuarios que abren su monedero una o dos veces al mes durante unos minutos y son recompensados por igual que los que tienen su monedero disponible las 24 horas del día.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="cusH4Cards">Seguridad</h4>
          <p class="cusPargInfoTxt">BPR implementará un nuevo protocolo de privacidad (ZcashSapling) que proporcionará mayor privacidad, rendimiento y facilidad de uso en comparación con nuestras soluciones anteriores.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="cusH4Cards">Transacciones Rapidas</h4>
          <p class="cusPargInfoTxt">En la red Bitcoin, las transacciones requieren 10 minutos para su confirmación. En cambio, en Poriun las transacciones se confirman en 60 segundos y mayormente son instantáneas</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4 class="cusH4Cards">Retribucion</h4>
          <p class="cusPargInfoTxt">Recompensa entregada a los propietarios de BPR. Masternodes y BPR staking. Debido al gran tamaño de nuestra red, nuestra tasa de devolución de recompensas es muy consistente y altamente fiable.</p>
        </div>
      </div>
    </div>
  </section>

<!-- Seccion de circulos-->
<section class="txtInfoColor">
    <div class="container">
        <div class="row-12" style="text-align: center;">
            <h2>Distribución de fichas</h2>
            <br>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="progress mx-auto" data-value='60'>
                    <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <div
                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold">60<sup class="small">%</sup></div>
                    </div>
                </div>
                <br>
                <p>Venta de fichas</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="progress mx-auto" data-value='20'>
                    <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <div
                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold">20<sup class="small">%</sup></div>
                    </div>
                </div>
                <br>
                <p>Reserva del proyecto</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="progress mx-auto" data-value='15'>
                    <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <div
                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold">15<sup class="small">%</sup></div>
                    </div>
                </div>
                <br>
                <p>Fichas de equipo</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="progress mx-auto" data-value='10'>
                    <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <div
                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold">10<sup class="small">%</sup></div>
                    </div>
                </div>
                <br>
                <p>Asociaciones</p>
            </div>
        </div>
    </div>
</section>
<br>

{{> socios }}
 
{{> footer-new }}