
{{> navigation}}

<section class="bglegal" id="privacidad_politica">
    <div class="row-12" style="text-align: center">
        <br>
        <h1><b><strong>PRIVACIDAD Y POLITICAS</strong></b></h1>
        <br>
    </div>
    <div class="container containerLegal">
        <div style="text-align: justify">
            <p><b>Privacidad y políticas de Poriun</b></p>
            <p>Fecha de vigencia: 5 de enero de 2020</p>
            <p>Poriun ("nosotros", "nosotros" o "nuestro") opera los sitios web www.poriun.com (el "Servicio") http://es.poriun.com/ (el "Servicio en español").</p>
            <p>Esta página le informa sobre nuestras políticas con respecto a la recopilación, uso y divulgación de datos personales cuando utiliza nuestro Servicio y las opciones que ha asociado con esos datos.</p>
            <p>Usamos sus datos para proporcionar y mejorar el Servicio. Al utilizar el Servicio, acepta la recopilación y el uso de la información proporcionada de acuerdo con esta política. A menos que se defina lo contrario en esta Política de privacidad, los términos utilizados en esta Política de privacidad tienen el mismo significado que en nuestros Términos y condiciones, accesibles desde www.poriun.com</p>
            <p><b>Recopilación de información y uso de datos.</b></p>
            <p>Recopilamos varios tipos diferentes de información para diversos fines y asi brindarle y mejorar nuestro Servicio.</p>
            <p><b>Tipos de datos recopilados</b></p>
            <p>Información personal
                Al utilizar nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede utilizar para contactarlo o identificarlo ("Datos personales"). La información de identificación personal puede incluir, pero no se limita a:</p>
            <p>
                <ul>
                    <li>Dirección de correo electrónico</li>
                    <li>Nombre y apellido</li>
                    <li>Número de teléfono</li>
                    <li>Dirección, estado, provincia, postal / código postal, ciudad</li>
                    <li>Cookies y datos de uso</li>
                </ul>
            </p>
            <p><b>Datos de uso</b></p>
                <p>También podemos recopilar información sobre cómo se accede y se utiliza el Servicio ("Datos de uso"). Estos Datos de uso pueden incluir información como la dirección de Protocolo de Internet de su computadora (por ejemplo, dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y fecha de su visita, el tiempo que pasó en esas páginas, único identificadores de dispositivos y otros datos de diagnóstico</p>
            <p><b>Seguimiento y datos de cookies</b></p>
            <p>Seguimiento y datos de cookies
                Usamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y retener cierta información. </p>
            <p>Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se almacenan en su dispositivo. Las tecnologías de seguimiento también utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio y / o su desempeño.</p>
            <p>Puede indicarle a su navegador que rechace todas las cookies o que indique cuándo se envía una cookie. Sin embargo, si no acepta las cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio.</p>
            <p><b>Ejemplos de cookies que utilizamos:</b></p>
            <p>
                <ul>
                    <li>Cookies de sesión: utilizamos cookies de sesión para operar nuestro Servicio.</li>
                    <li>Cookies de preferencia: utilizamos cookies de preferencia para recordar sus preferencias y diversas configuraciones.</li>
                    <li>Cookies de seguridad: utilizamos cookies de seguridad por motivos de seguridad.</li>
                </ul>
            </p>
            <p><b>Uso de datos</b></p>
            <p>Usamos los datos recopilados para varios propósitos:</p>
            <p>
                <ul>
                    <li>Para proporcionar y mantener el Servicio.</li>
                    <li>Para notificarle sobre cambios en nuestro Servicio.</li>
                    <li>Para permitirle participar en las funciones interactivas de nuestro Servicio cuando elija hacerlo.</li>
                    <li>Para brindar atención y soporte al cliente.</li>
                    <li>Para proporcionar análisis o información valiosa para que podamos mejorar el Servicio.</li>
                    <li>Para monitorear el uso del Servicio.</li>
                    <li>Para detectar, prevenir y abordar problemas técnicos del Servicio.</li>
                </ul>
            </p>
            <p><b>Transferencia de datos</b></p>
            <p>Su información, incluidos los datos personales, puede transferirse y mantenerse en computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de su jurisdicción.</p>
            <p>Si se encuentra fuera de Europa y decide proporcionarnos información, tenga en cuenta que transferimos los datos, incluidos los Datos personales, a Europa y los procesamos ahí.</p>
            <p>Su consentimiento a esta Política de privacidad seguido de su envío de dicha información representa su acuerdo con esa transferencia.</p>
            <p>Tomaremos todas las medidas razonablemente necesarias para garantizar que sus datos sean tratados de forma segura y de acuerdo con esta Política de privacidad y no se realizará ninguna transferencia de sus Datos personales a una organización o país a menos que existan controles adecuados establecidos, incluida la seguridad de su datos y otra información personal.</p>
            <br>
            <p><b>Divulgación de datos</b></p>
            <p><b>Requerimientos legales</b></p>
            <p>Podemos divulgar sus Datos personales de buena fe si creemos que dicha acción es necesaria para:</p>
            <p>
                <ul>
                    <li>Para cumplir con una obligación legal.</li>
                    <li>Para proteger y defender los derechos o la propiedad de Poriun.</li>
                    <li>Para prevenir o investigar posibles irregularidades en relación con el Servicio.</li>
                    <li>Para proteger la seguridad personal de los usuarios del Servicio o del público.</li>
                    <li>Para protegerse contra la responsabilidad legal.</li>
                </ul>
            </p>
            <p><b>Seguridad de los datos</b></p>
            <p>La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.</p>
            <p><b>Proveedores de servicio</b></p>
            <p>Podemos emplear empresas e individuos de terceros para facilitar nuestro Servicio ("Proveedores de Servicios"), para proporcionar el Servicio en nuestro nombre, para realizar trabajos y servicios relacionados con el Servicio o para ayudarnos a analizar cómo se utiliza nuestro Servicio o su desempeño.</p>
            <p>Estos terceros tienen acceso a sus Datos personales solo para realizar estas tareas en nuestro nombre y no para divulgación de información fuera de nuestro alcance o para ser utilizada por empresas de terceros con fines lucrativos fuera de la comunidad de poriun</p>
            <br>
            <br>
            <p><b>NOTA:</b> El manejo de su información será solo para las transacciones que se hagan dentro de las paginas de poriun en ingles y español, si usted obtiene nuestra criptomoneda por otros medios PORIUN no se hace responsable de la forma como las consiguió.</p>
        </div>
    </div>
</section>

{{> footer-new }}