
{{> navigation}}
<div id="home" class="seccionStaffImpar" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <img src="images/logo.png" alt="hero" style="width:160px;height:140px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2 style="text-align: center; padding-top:50px;color:black">Wilfredo Figueroa</h2>
                        <h4 style="text-align: center;Asistente Tecnología;color:rgb(32, 30, 30)">Asistente de Tecnología</h4>
                        <p class="pStaff">Estudiante de Ingeniería en Sistemas Informáticos, un apasionado por la tecnología, la programación, videojuegos, cine y animaciones, dispuesto a aprender lo que haga falta para poder contribuir de la mejor manera cuando se le requiera, a trabajar con quienes deba hacerlo, buscando constantemente
                            crecer como persona, como profesional, para lograr llegar a lo más alto posible en la vida
                        </p>
                    </div>


                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 style="text-align: center; padding-top:50px;color:black">Wilfredo Figueroa</h2>
                        <h4 style="text-align: center;Asistente Tecnología;color:rgb(32, 30, 30)">Asistente de Tecnología</h4>
                        <p class="pStaff">Estudiante de Ingeniería en Sistemas Informáticos, un apasionado por la tecnología, la programación, videojuegos, cine y animaciones, dispuesto a aprender lo que haga falta para poder contribuir de la mejor manera cuando se le requiera, a trabajar con quienes deba hacerlo, buscando constantemente
                            crecer como persona, como profesional, para lograr llegar a lo más alto posible en la vida
                        </p>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <img src="images/logo.png" alt="hero" style="width:160px;height:140px">
                                </div>
                        </div>


                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <img src="images/logo.png" alt="hero" style="width:160px;height:140px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2 style="text-align: center; padding-top:50px;color:black">Wilfredo Figueroa</h2>
                        <h4 style="text-align: center;Asistente Tecnología;color:rgb(32, 30, 30)">Asistente de Tecnología</h4>
                        <p class="pStaff">Estudiante de Ingeniería en Sistemas Informáticos, un apasionado por la tecnología, la programación, videojuegos, cine y animaciones, dispuesto a aprender lo que haga falta para poder contribuir de la mejor manera cuando se le requiera, a trabajar con quienes deba hacerlo, buscando constantemente
                            crecer como persona, como profesional, para lograr llegar a lo más alto posible en la vida
                        </p>
                    </div>


                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 style="text-align: center; padding-top:50px;color:black">Wilfredo Figueroa</h2>
                        <h4 style="text-align: center;Asistente Tecnología;color:rgb(32, 30, 30)">Asistente de Tecnología</h4>
                        <p class="pStaff">Estudiante de Ingeniería en Sistemas Informáticos, un apasionado por la tecnología, la programación, videojuegos, cine y animaciones, dispuesto a aprender lo que haga falta para poder contribuir de la mejor manera cuando se le requiera, a trabajar con quienes deba hacerlo, buscando constantemente
                            crecer como persona, como profesional, para lograr llegar a lo más alto posible en la vida
                        </p>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <img src="images/logo.png" alt="hero" style="width:160px;height:140px">
                                </div>
                        </div>


                </div>
            </div>
         </div>
{{> footer}}