
{{> navigation}}
<div id="home" class="seccionStaffImpar" >
    
        <div class="divStaffColor">
        <div class="row justify-content-center" >
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <i class="fas fa-user fa-5x iStaff"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 pStaff">
                    <h2 class="h2Staff">Jesús Pluma</h2>
                    <h4 class="h4Staff">CEO del equipo de soporte para Latinoamérica</h4>
                    <p class="pStaff">Soy una persona entusiasta por la tecnología y las computadoras y todo lo relacionado a ellas, a si mismo me encanta aprender cosas nuevas y dar mi conocimiento a gente nueva.
                        Me especializo en el soporte y mantenimiento a computadoras y la ciberseguridad.
                    </p>
                </div>
        </div>
        </div>
        <div class="divStaffNoColor">
        <div class="row justify-content-center" >
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2Staff">Ana Palacios</h2>
                        <h4 class="h4Staff">Asistente administrativo de soporte</h4>
                        <p class="pStaff">Soy una persona apasionada por aprender cosas nuevas, así como experiencias, me encanta lograr las metas que me propongo, me encanta la musica así como la tecnología. 
                        </p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                <i class="fas fa-hands-helping fa-5x iStaff"></i>
                            </div>
                        </div>
        </div>
        </div>
        <div class="divStaffColor" >
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <i class="fas fa-user fa-5x iStaff"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2 class="h2Staff">Marvin Alvarenga</h2>
                        <h4 class="h4Staff">Vicepresidente</h4>
                        <p class="pStaff">Soy una persona apasionada por la ciencia física, matemáticas y seguridad informática, siempre a favor de los demás y el concepto de software libre como estilo de vida para ayudar a los demás.
                        </p>
                    </div>
                </div>
                </div>
        
        <div class="divStaffNoColor">
            <h1 class="h1StaffSection">Desarrollo y Tecnología</h1>
        <div class="row justify-content-center" >
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        

                            <h2 class="h2Staff">Lewin Lovo</h2>
                        <h4 class="h4Staff">Director de Tecnología</h4>
                        <p class="pStaff">Soy un desarollador apasionado, muy interesado en la tecnologia me gusta estar al  tanto de sus cambios y opder adaptarme a los mismo 
un gran deseo de poder servir al mundo con el desarollo y uso de mis tecnologias. 
                        </p>
                    </div>
                </div>
            </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                <i class="fas fa-code fa-5x iStaff"></i>
                            </div>
                            
                        </div>
        </div>
        </div>     
                <div class="divStaffColor" >
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <i class="fas fa-code fa-5x iStaff"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2 class="h2Staff">Wilfredo Figueroa</h2>
                        <h4 class="h4Staff">Asistente de Tecnología</h4>
                        <p class="pStaff">Estudiante de Ingeniería en Sistemas Informáticos, un apasionado por la tecnología, la programación, videojuegos, cine y animaciones, dispuesto a aprender lo que haga falta para poder contribuir de la mejor manera cuando se le requiera, a trabajar con quienes deba hacerlo, buscando constantemente
                            crecer como persona, como profesional, para lograr llegar a lo más alto posible en la vida.
                        </p>
                    </div>
                </div>
                </div>
                <div class="divStaffNoColor">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                

                                <h2 class="h2Staff">Nelson Vanegas</h2>
                        <h4 class="h4Staff">Asistente de Tecnología</h4>
                        <p class="pStaff">Soy un estudiante de Ingenieria en Sistema Informaticos que desde muy joven demostro interes por las nuevas tecnologias, la curiosidad de mi niñez poco a poco se convirtio en un interes en entender y poder desarrollar estas nuevas tecnoloigas, sitios web, software e incluso videojuegos, pretendo expandir aun más mis conocimientos para aprender y contribuir al mundo de la Informatica.
                        </p>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                   <i class="fas fa-code fa-5x iStaff"></i>
                                </div>       
                        </div>
                </div>
            </div>
            <div class="divStaffColor" >
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <i class="fas fa-code fa-5x iStaff"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2 class="h2Staff">Kevin Elías</h2>
                        <h4 class="h4Staff">Asistente de Tecnología</h4>
                        <p class="pStaff">Soy un estudiante de Ingeniera en Sistemas. Trabajador y responsable que busca por medio la la lógica y la razón la resolución de los problemas. Siempre dispuesto a dar ayuda a mi equipo y a los que me necesiten.
                        </p>
                    </div>


                </div>
            </div>
               
                
                <div class="divStaffNoColor">
                    <h1 class="h1StaffSection">Finanzas</h1>
        <div class="row justify-content-center" >
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12">
                            

                            <h2 class="h2Staff">Rodrigo Hernández</h2>
                    <h4 class="h4Staff">Asistente de Finanzas</h4>
                    <p class="pStaff">Soy un estudiante en ingeniería industrial el cual desde temprana edad ha desarrollado una pasión hacia los automóviles, a las motos, las carreras que se llevan a cabo con los mismos, arrancones, etc.
                                        Así mismo, he sido un joven interesado y enfocado en el aprendizaje en diferentes áreas de la ingeniería para favorecer mi conocimiento y poder apoyar proyectos con metas de volverse empresas.
                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 pStaff">
                    <div class="header-hero-image text-center animate__animated animate__fadeInUp animate__delay-1-4s animate__animated.animate__speed_1-3s" style="padding-top: 60px;">
                                    <i class="fas fa-chart-line fa-5x iStaff"></i>
                            </div>
                </div>
        </div>
        </div>
            </div>
</div>
         
{{> footer}}