
{{> navigation}}

<section class="bglegal" id="privacidad_politica">
    <div class="row-12" style="text-align: center">
        <br>
        <h1><b><strong>TÉRMINOS Y CONDICIONES</strong></b></h1>
        <br>
    </div>
    <div class="container containerLegal dotpdot">
        <div style="text-align: justify;" class="dotpot">
            <br>
            <br>
            <ol>
                <li><b>Información publicada en poriun.com</b></li>
                <p>Los sitios webs https://poriun.com y http://es.poriun.com/ (en adelante, el "Sitio Web") proporciona información y material de carácter general. No está autorizado ni debe confiar en el sitio web para obtener asesoramiento legal, asesoramiento comercial o asesoramiento de ningún tipo. Actúa bajo su propio riesgo basándose en el contenido del sitio web. Si toma la decisión de actuar o no, debe comunicarse con un abogado con licencia en la jurisdicción relevante en la que desea o necesita ayuda. De ninguna manera los propietarios o contribuyentes del sitio web son responsables de las acciones, decisiones u otros comportamientos que usted haya tomado o no tomado en función del sitio web.</p>
                <li><b>Traducciones</b></li>
                <p>El sitio web puede contener traducciones de la versión en inglés del contenido disponible en el sitio web. Estas traducciones se proporcionan solo para su comodidad. En caso de conflicto entre la versión en inglés y la versión traducida, prevalecerá la versión en inglés. Si nota alguna incoherencia, infórmelo en GitHub.</p>
                <li><b>Riesgos relacionados con el uso de Poriun Blockchain</b></li>
                <p>El sitio web y la Fundación Poriun no serán responsables de ninguna pérdida, daño o reclamo que surja de eventos que entren dentro del alcance de las siguientes cinco categorías:</p>
                <ol>
                    <li>Errores cometidos por el usuario de cualquier software o servicio relacionado con Poriun, por ejemplo, contraseñas olvidadas, pagos enviados a direcciones de Poriun incorrectas y eliminación accidental de billeteras.</li>
                    <li>Problemas de software del sitio web y / o cualquier software o servicio relacionado con Poriun, por ejemplo, archivo de billetera dañado, transacciones construidas incorrectamente, bibliotecas criptográficas inseguras, malware que afecte al sitio web y / o cualquier software o servicio relacionado con Poriun.</li>
                    <li>Fallos técnicos en el hardware del usuario de cualquier software o servicio relacionado con Poriun, por ejemplo, pérdida de datos debido a un dispositivo de almacenamiento defectuoso o dañado. </li>
                    <li>Problemas de seguridad experimentados por el usuario de cualquier software o servicio relacionado con Poriun, por ejemplo, acceso no autorizado a las billeteras y / o cuentas de los usuarios.</li>
                    <li>Acciones u omisiones de terceros y / o eventos experimentados por terceros, por ejemplo, quiebra de proveedores de servicios, ataques a la seguridad de la información a proveedores de servicios y fraude realizado por terceros.</li>
                    <li>Acciones u omisiones de terceros y / o eventos de terceros en relación con la emisión de PoriunAssets en la blockchain de Poriun, por ejemplo, quiebra de proveedores de servicios de activos, ataques a la seguridad de la información en proveedores de servicios de activos y fraude realizado por terceros. en relación con la emisión de PoriunAssets, incluyendo, pero no limitado a si estos PoriunAssets se definen como "valores" bajo la ley de la jurisdicción relevante bajo la cual se emiten y si se cumplen las obligaciones de cumplimiento legal correspondientes.</li>
                </ol>
                <p>No somos su abogado y la cadena de bloques de Poriun no brinda asesoramiento legal en relación con la emisión y compra de PoriunAssets. Debe hablar con un abogado antes de usar PoriunAssets para crear cualquier activo de blockchain con valor real. Poriun no se hace responsable si usted no lo hace.</p>
                <li><b>Equipos de Poriun</b></li>
                <p>La integridad es una de las características más importantes de los miembros del equipo de Poriun. Todos los miembros son dignos de confianza y tienen las mejores intenciones. En una comunidad descentralizada como Poriun, todos los miembros activos son voluntarios no remunerados, que dedican tiempo libre, recursos y dinero de sus propios bolsillos para apoyar el proyecto. No habrá fraude, corrupción o acciones ilegales. La historia ha demostrado que la naturaleza descentralizada de la comunidad de Poriun produce un sistema de auto-mejora. Si alguien falla o parece tener malas intenciones, los demás lo notarán y esa persona será bloqueada, ignorada y excluida de la comunidad.</p>
                <li><b>Riesgos de inversión</b></li>
                <p>La inversión en Poriun puede provocar pérdidas de dinero en períodos cortos o incluso largos. Los inversores de Poriun deberían esperar que los precios tengan grandes fluctuaciones. La información publicada en el sitio web no puede garantizar que los inversores de Poriun no pierdan dinero.</p>
                <li><b>Cumplimiento de obligaciones tributarias</b></li>
                <p>Los usuarios del sitio web son los únicos responsables de determinar qué impuestos, si los hay, se aplican a sus transacciones de Poriun. Los propietarios o contribuyentes del sitio web NO son responsables de determinar los impuestos que se aplican a las transacciones de Poriun.</p>
                <li><b>El sitio web no almacena, envía ni recibe Poriun</b></li>
                <p>El sitio web no almacena, envía ni recibe Poriun. Esto se debe a que Poriun existe solo en virtud del registro de propiedad mantenido en la red de Poriun. Cualquier transferencia.El título en Poriun ocurre dentro de una red de Poriun descentralizada y no en el sitio web.</p>
                <li><b>Sin garantías</b></li>
                <p>El sitio web se proporciona "tal cual" sin ninguna garantía de ningún tipo con respecto al sitio web y / o cualquier contenido, datos, materiales y / o servicios proporcionados en el sitio web.</p>
                <li><b>Limitación de responsabilidad</b></li>   
                <p>A menos que la ley exija lo contrario, en ningún caso los propietarios o contribuyentes del sitio web serán responsables de los daños de cualquier tipo, incluidos, entre otros, la pérdida de uso, la pérdida de ganancias o la pérdida de datos que surjan de o de alguna manera relacionado con el uso del sitio web.</p>  
                <li><b>Arbitraje</b></li>
                <p>El usuario del sitio web acepta arbitrar cualquier disputa que surja de o en conexión con el sitio web o este descargo de responsabilidad, excepto por disputas relacionadas con derechos de autor, logotipos, marcas registradas, nombres comerciales, secretos comerciales o patentes.</p>
                <li><b>Última enmienda</b></li>
                <p>Este descargo de responsabilidad fue modificado por última vez el 07 de julio de 2020 en la versión en inglés.
                    Este descargo de responsabilidad fue modificado por última vez el 25 de enero de 2021 en la versión en español.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        </p>
        <br>
        <br>
        </div>
    </div>
    <br>
    <br>
</section>

{{> footer-new}}